<h1> <%= @topic_context.title %> </h1>

<div class ="input-field">
<textarea class ="materialize-textarea"> </textarea>
<button class="btn">Add Comment </button>
<ul class="collection"> 

</ul>
</div>
<script>
document.addEventListener("DOMContentLoaded", function() {
   window.createSocket(<%= @topic_context.id %>) 
});
</script>



<span><%= link "Back", to: Routes.topic_context_path(@conn, :index) %></span>
